.about---philosophy-title
{
    /* font-size:0.63rem; */
    font-weight:bold;
}

.about---philosophy-text > div
{
    padding-top:0.2rem;
}

.about---philosophy-text
{
    padding-left:0.3rem;
}

.about---company-declaration
{
    font-weight:bold;
    font-size:0.5rem;
}