.contact---contact-form
{
    
}

.contact---contact-card
{
    padding:0.1rem;
}

.contact---section-title
{
    font-weight:bold;
}

.contact---contact-detail
{
    padding-left:0.2rem;
    padding-top:0.1rem;
    font-size:0.5rem;
    user-select:text;
}

.contact---form-input
{
    padding-top:0.3rem;
}

.contact---form-submit
{
    padding:0.3rem;
    border-radius:0.1rem;
    text-align:right;
    display:flex;
    justify-content:space-between;
    background-color:rgba(0,0,0,0.9);
    color:white;
}
